<style>
    p {
        font-size: 18px;
    }
</style>
<p-header>
    <h1>Local File inclusion</h1>
</p-header>
<div class="panel-wrapper">
    <p-panel  [toggleable]="true">
      <ng-template pTemplate="header">
        <div class="header-container">
          <h4>Que es Local File Inclusion (LFI)</h4>
        </div>
      </ng-template>
      <p>
        LFI (Local File Inclusion) es una vulnerabilidad de seguridad que ocurre cuando una aplicación web permite a un atacante incluir archivos locales del servidor en el contenido de una página web. 
        Esto puede permitir al atacante leer archivos sensibles del servidor que normalmente no estarían accesibles a través de la interfaz web. 
      </p>  
      <p>
        La vulnerabilidad de LFI generalmente ocurre cuando una aplicación web utiliza la entrada del usuario para incluir archivos locales sin la debida validación o filtrado. 
        Esto puede suceder en varios contextos, como la inclusión de archivos de plantillas, la carga de archivos de configuración o la inclusión de archivos de registro.
      </p>  
      <p>
        Un ataque de LFI puede ser especialmente peligroso si el servidor web ejecuta el software con privilegios elevados o si los archivos sensibles, como contraseñas o información confidencial, 
        están accesibles a través de la inclusión local de archivos.
      </p>  
    </p-panel>
</div><br>
<div class="panel-wrapper">
    <p-panel  [toggleable]="true">
        <ng-template pTemplate="header">
            <div class="header-container">
            <h4>Como funciona LFI</h4>
            </div>
        </ng-template>
        <p>
            Para entender todo esto, vamos a realizar una prueba muy sencilla.
        </p>  
        <p>
            Vamos a crear el siguiente fichero en nuestra maquina, lo vamos a llamar index.php y lo vamos a ejecutar en un servidor PHP de forma local
        </p>  
        <pre class="php"><strong>{{comando}}</strong><button pButton type="button" icon="pi pi-copy" (click)="copyContent('.php')" class="copy-button"></button><br><hr><code class="language-javascript">{{ php }}</code></pre>
        <p>
            Ademas nos vamos a crear un fichero con el nombre test, y le vamos a añadir cualquier contenido
        </p> 
        <p>
            Tenemos que crear el fichero dentro de la ruta <strong>/var/www/html/</strong>, que es donde normalemnte se aloja todo el contenido web
        </p> 
        <p>
            Para arrancar el servidor php en local lanzaremos el siguiente comando
        </p> 
        <pre class="phpServer"><strong>{{comando}}</strong><button pButton type="button" icon="pi pi-copy" (click)="copyContent('.phpServer')" class="copy-button"></button><br><hr><code class="language-javascript">{{ phpServer }}</code></pre>
        <p>
            Esta aplicacion que hemos creado, nos pide por url el nombre de un fichero para mostrar su contenido. Se utilizan los includes de PHP
        </p> 
        <p>
            Una vez tengamos el fichero index.php ejecutandose y un fichero con un contenido cualquiera, probamos a llamar a este fichero
        </p> 
        <img src="assets/LFI/php.PNG"><br><br>
        <p>
            Como vemos, se interpretan las etiquetas html (aunque para nosotros esto no es relevante)
        </p> 
        <p>
            El concepto de todo esto, es que se ha incluido el fichero test, y somos capaces de ver el contenido, porque le hemos indicado en la url el fichero a incluir (aunque el fichero tenga que estar en la ruta /var/www/html/... por ahora)
        </p> 
        <p>
            Esto quiere decir que, si no esta bien sanitizado, puedo indicarle que me muestre cualquier fichero que tenga el sistema, como por ejemplo el <strong>/etc/passwd</strong>
        </p>
        <p>
            Si nos sabemos mover por los ficheros de Linux, sabemos que con <strong>..</strong> subimos un directorio. Esto quiere decir que si yo estoy en <strong>/home/kali</strong>
            y yo escribo en consola <strong>cd ..</strong> acabaré en el directorio <strong>/home</strong>
        </p>
        <p>
            Si somos capaces de indicarle a la url un fichero del sistema, podemos movernos hacia atras en el sistema y acabar en el directorio raíz.
        </p>
        <p>
            Como hacemos esto? indicandole en la ruta que el fichero al que queremos acceder es <strong>../../../../../[fichero]</strong>
        </p>
        <p>
            Pero cuantos ../../../../../ tengo que escribir? los suficientes para llegar al directorio raíz. Si nos pasamos de largo no pasa nada, del raiz no va a pasar.
        </p>
        <p>
            Por lo que si el raiz esta por ejemplo 4 niveles por encima del directorio actual de trabajo, pero yo escribo 7 ../ estaré en la raiz igualmente
        </p>
        <p>
            De esta forma, si yo quiero que la web me muestre el contenido de <strong>/etc/passwd</strong>, tendria que pasarle como fichero a incluir <strong>../../../../../../../etc/passwd</strong>
        </p>
        <img src="assets/LFI/etcPaswd.PNG" width="90%"><br><br>
        <p>
            Se ve un poco feo, pero bueno, la informacion la tenemos.
        </p>
        <p>
            Aunque si vemos el codigo fuente (CTRL+U), se vera mucho mejor
        </p>
        <img src="assets/LFI/etcPasswdOk.PNG"><br><br>
        <p>
            Para terminar de comprobar que si intentamos incluir el fichero /etc/passwd sin movernos hacia arriba en el sistema no va a funcionar, vamos a hacer la prueba
        </p>
        <img src="assets/LFI/etcPasswdNok.PNG"><br><br>
        <p>
            Por que no funciona? porque el include apunta a /var/www/html/, por lo que estamos intentando leer el fichero /var/www/html/etc/passwd, y este fichero no existe
        </p>
        <hr>
        <p>
            Vale, pero de que me sirve a mi ver los usuarios del sistema, si no puedo entrar al fichero etc/shadow, que es donde se almacenan las contraseñas?
        </p>
        <p>
            Es verdad que el fichero /etc/shadow no lo podremos ver mediante LFI. Pero nos permite encontrar usuarios de un servicio SSH (por ejemplo..) al cual podremos intentar atacar con <strong><a routerLink="/onlinePasswordAttack">hydra</a></strong>. Ademas, LFI no solo sirve para ver el /etc/passwd..
        </p>
    </p-panel>
</div>