/* app.component.css */

.layout-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.layout-sidebar {
    flex: 0 0 250px; /* Ancho fijo de la barra lateral */
    background-color: #f0f0f0; /* Color de fondo de la barra lateral */
    
}

.layout-content {
    flex: 1; /* El contenido principal toma todo el espacio restante */
    padding: 20px;
}
/* En tu archivo CSS */
.rounded-sidebar {
    border-radius: 10px; /* Ajusta el valor según tus preferencias */
  }
  .layout-sidebar {
    background-color: #f4f4f4;
}
  
