/* app.component.css */

.layout-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.layout-sidebar {
    flex: 0 0 250px; /* Ancho fijo de la barra lateral */
    background-color: #E1ECFF; /* Color de fondo de la barra lateral */
    
}

.layout-content {
    flex: 1; /* El contenido principal toma todo el espacio restante */
    padding: 20px;
}
/* En tu archivo CSS */
.rounded-sidebar {
    border-radius: 10px; /* Ajusta el valor según tus preferencias */
  }
  .layout-sidebar {
    background-color: #E1ECFF;
}
  
:host ::ng-deep .p-panel .p-panel-content { 
    background: #E1ECFF !important; 
    
  } 
:host ::ng-deep .p-panel .p-panel-header { 
    background: #ACB1BA !important; 
    color: white;
}