
<style>
    p {
        font-size: 18px;
    }
    ul.numerada {
    list-style-type: none;
    counter-reset: contador;
    }

    ul.numerada li {
        counter-increment: contador;
    }

    ul.numerada li::before {
        content: counter(contador);
        margin-right: 5px;
        font-weight: bold;
    }


</style>
<p-header>
    <h1>Ataques online</h1>
</p-header>
<div class="panel-wrapper">
    <p-panel [toggleable]="true">
        <ng-template pTemplate="header">
            <div class="header-container">
              <h3>Hydra</h3>
              
            </div>
        </ng-template>
        <p>
            Con esta herramienta podemos hacer un ataque de diccionario a servicios que utilizan un sistema de login (ssh, smb, login..) para encontar la contraseña
        </p>
        <p>
            La forma de ejecutar el comando a servicios y a un login por http es un poco diferente
        </p>
        <div class="panel-wrapper">
        <p-panel [toggleable]="true">
            <ng-template pTemplate="header">
                <div class="header-container">
                    <h4>Servicios</h4>
                </div>
            </ng-template>

            <p>
                Este es el comando generico
            </p>
            <pre class="hydra"><strong>{{comando}}</strong><button pButton type="button" icon="pi pi-copy" (click)="copyContent('.hydra')" class="copy-button"></button><hr><code class="language-console">{{ hydra }}</code></pre>
            <p>
                Como vemos, a la herramienta podemos indicarle un listado de usuarios y contraseñas con las opciones -L y -P respectivamente.
            </p>
            <p>
                Sin embargo, en caso de querer indicarle un solo usuario, o una sola contraseña, tendriamos que pasarle las opciones en letra minuscula (-l / -p)
            </p>
            <p>
                Para que se vea un poco mas claro, vamos a suponer que durante la fase de reconocimiento hemos encontrado a un usuario llamado <strong>test</strong> para un servicio ssh
            </p>
            <p>
                El comando sería el siguiente
            </p>
            <pre class="hydraUser"><strong>{{comando}}</strong><button pButton type="button" icon="pi pi-copy" (click)="copyContent('.hydraUser')" class="copy-button"></button><hr><code class="language-console">{{ hydraUser }}</code></pre>
            <p>
                De esta forma estariamos realizando un ataque de fuerza bruta a un login de ssh en el servidor example.ip para el usuario test. Si la contraseña se encuentra en el diccionario, nos devolvera cual es la contraseña correcta
            </p>
            <div class="panel-wrapper">
                <p-panel [toggleable]="true">
                    <ng-template pTemplate="header">
                        <div class="header-container">
                          <h4>Ejemplo SMB</h4>
                        </div>
                      </ng-template>
                    <p>
                        Vamos a realizar un ataque a un login por SMB, el objetivo es 192.168.1.135
                    </p>
                    <p>
                        El usuario para el login es msfadmin (suponemos que lo hemos encontrado en fases anteriores). Ahora nuestro objetivo es encontrar la contraseña
                    </p>
                    <p>
                        Para ello, vamos a utilizar el siguiente comando
                    </p>
                    <pre class="hydraSmb"><strong>{{comando}}</strong><button pButton type="button" icon="pi pi-copy" (click)="copyContent('.hydraSmb')" class="copy-button"></button><hr><code class="language-console">{{ hydraSmb }}</code></pre>
                    <img src="assets/passwd/hydra/smbLogin.PNG"><br><br>
                    <p>
                        Acabamos de conseguir la contraseña del usuario <strong>msfadmin</strong> para el servicio <strong>SMB</strong> del servidor 192.168.1.135
                    </p>
                    <img src="assets/passwd/hydra/smbUserPass.PNG"><br><br>
                    
                </p-panel>
            </div>
        </p-panel>
        </div>
        <br>
        <div class="panel-wrapper">
            <p-panel [toggleable]="true">
                <ng-template pTemplate="header">
                    <div class="header-container">
                      <h4>Login http</h4>
                      
                    </div>
                  </ng-template>
                <p>
                    Con hydra tambien somos capaces de probar ataques de fuerza bruta en servicios web que utilicen un sistema de login
                </p>
                <p>
                    Como ejemplo, vamos a utilizar el siguiente portal
                </p>
                <img src="assets/passwd/hydra/loginForm.PNG"><br><br>
                <p>
                    Vamos a intentar conectarnos con un usuario existente sin saber la contraseña
                </p>
                <img src="assets/passwd/hydra/loginFormBadUsername.PNG"><br><br>
                <p>
                    Ahora tenemos que utilizar la herramienta hydra para probar contraseñas de este usuario hasta acertar
                </p>
                <pre class="hydraLogin"><strong>{{comando}}</strong><button pButton type="button" icon="pi pi-copy" (click)="copyContent('.hydraLogin')" class="copy-button"></button><hr><code class="language-console">{{ hydraLogin }}</code></pre>

                <p>
                    Desglosando un poco el comando, vemos una parte en la que hay que indicar una url, un usuario, una contraseña y un mensaje de error.
                </p>
                <p>
                    Para saber que debemos poner en estos parametros, tenemos que encontrar la url del servidor donde se hace el login, y como se pasa el usuario y contraseña en la peticion post del login 
                </p>
                <p>
                    Tambien hay un mensaje de error que hay que indicar. Para ello podemos utilizar el mensaje de <strong>Not Logged In</strong> que aparece si no estamos logados en la aplicacion
                </p>
                <p>
                    <strong>Nota:</strong> en este comando vemos lo siguiente: <strong>[URL]:[username]=^USER^&[password]=^PASS^:[Mensaje error]</strong>. 
                    Aqui hydra va a sustituir ^USER^ y ^PASS^ por los parametros que le hemos indicado, ademas tenemos que comprobar como se hace la peticion para estos parametros usuario y contraseña.
                    Por ejemplo, podria ser que una aplicacion utilizara <strong>user</strong> y <strong>pass</strong> para mandar esta informacion en lugar de username y password. En este caso tendriamos que poner: <strong>user=^USER^&pass=^PASS^</strong>
                </p>
                <h4>Sacar informacion para el comando</h4>
                <p>
                    Primero, vamos a necesitar utilizar burpsuite para poder interceptar las peticiones
                </p>
                <img src="assets/passwd/hydra/BurpSuiteLogin.PNG"><br><br>
                <p>
                    De esta pantalla podemos sacar informacion de la url y de los parametros que tendremos que indicarle a hydra
                </p>
                <p>
                    Sustituyendo la base del comando de hydra para el login por post, nos quedar'ia de la siguiente forma
                </p>
                <pre class="hydraLoginOk"><strong>{{comando}}</strong><button pButton type="button" icon="pi pi-copy" (click)="copyContent('.hydraLoginOk')" class="copy-button"></button><hr><code class="language-console">{{ hydraLoginOk }}</code></pre>
                <img src="assets/passwd/hydra/hydraLogin.PNG"><br><br>
                <p>
                    Al comprobar este usuario y contraseña, vemos que efectivamente la contraseña del usuario cyberSec es <strong>cyberSec123</strong>
                </p>
                <img src="assets/passwd/hydra/userLogged.PNG"><br><br>
                <p>
                    Hay que tener un poco de paciencia utilizando hydra para peticiones por post jaja
                </p>
            </p-panel>
        </div><br>
    </p-panel>
</div>

