.copy-button { /* Mueve el botón a la derecha */
  margin-left: 50px; /* El espacio disponible se asigna al margen izquierdo del botón */
}
.code-textarea {
  width: 100%; /* Ajusta el ancho del textarea según sea necesario */
  height: 150px; /* Ajusta la altura del textarea según sea necesario */
}
.code-container {
  position: relative;
}

.code-textarea {
  padding-left: 2.5em; /* Deja espacio para los números de línea */
}

.line-numbers span {
  display: block;
  line-height: 1.5em;
}
pre code.language-javascript {
  white-space: pre-wrap; /* Esto permite que los saltos de línea se muestren correctamente */
}
.code-container {
  position: relative;
  max-height: 400px; /* Establece el tamaño máximo */
  overflow-y: auto; /* Agrega scroll vertical cuando sea necesario */
}

/* Ajusta el tamaño del bloque de código */
pre {
  width: 100%; /* Ajusta el ancho del bloque de código */
  margin: 0; /* Elimina el margen predeterminado */
  padding: 1em; /* Agrega un espacio interno alrededor del bloque de código */
  white-space: pre-wrap; /* Permite que los saltos de línea se muestren correctamente */
  border-radius: 4px; /* Agrega bordes redondeados al bloque de código */
  border: 1px solid #ddd; /* Agrega un borde al bloque de código */
  background-color: #f4f4f4; /* Establece el color de fondo del bloque de código */
  overflow-y: auto;
}
