<p-header>
  <h1>Cross Site Scripting</h1>
</p-header>
<p-panel [style]="panelStyle">
  <ng-template pTemplate="header">
    <div class="header-container">
      <span>{{ panelXSSHeader }}</span>
    </div>
  </ng-template>
</p-panel>
<br>
<hr>
<br>
<p-panel header=" Reflected XSS">
  Content goes here
  <br>
  <br>
  <p-panel [style]="panelStyle">
    <ng-template pTemplate="header">
      <div class="header-container">
        <span>{{ panelHeader }}</span>
        <button pButton type="button" icon="pi pi-copy" (click)="copyContent()" class="copy-button"></button>
      </div>
    </ng-template>
    <pre class="code-container"><code class="language-javascript">{{ codeContent }}</code></pre>
  </p-panel>
</p-panel>
