<style>
  p {
      font-size: 18px;
  }
</style>
<p-header>
  <h1>Cross Site Scripting</h1>
</p-header>

<p-listbox [options]="sections" [style]="{'width':'300px'}" [optionLabel]="'label'">
  <ng-template let-section pTemplate="item">
    <div>
      <a [href]="'#' + section.label">
        <span>{{section.label}}</span>
      </a>
      <ul *ngIf="section.subSections">
        <li *ngFor="let subSection of section.subSections">
          <a [href]="'#' + subSection.label">
            <span>{{subSection.label}}</span>
          </a>
          <ul *ngIf="subSection.subSections">
            <li *ngFor="let subSubSection of subSection.subSections">
              <a [href]="'#' + subSubSection.label">
                <span>{{subSubSection.label}}</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </ng-template>
</p-listbox>



<div *ngIf="selectedSection">
  <h2>{{ selectedSection.label }}</h2>
  <p>Contenido de la sección...</p>
</div>


<div class="panel-wrapper">
  <p-panel>
    <ng-template pTemplate="header">
      <div class="header-container">
        <span>{{ panelXSSHeader }}</span>
      </div>
    </ng-template>
    <p>
      Cross-Site Scripting, abreviado como XSS, es una vulnerabilidad de seguridad que afecta a las aplicaciones web. 
    </p>  
    <p>
      Permite a los atacantes inyectar scripts maliciosos, generalmente en forma de código JavaScript, en páginas web vistas por otros usuarios. 
    </p>  
    <p>
      Estos scripts pueden robar información confidencial, como por ejemplo, la cookie de sesions, 
      permitiendo al atacante hacer login a la pagina web sin necesidad de utilizar credenciales y saltandose la 2fa
    </p>  
    <p>
      Existen varios tipos de XSS, pero nosotros nos vamos a centrar en <strong>Reflected</strong> y <strong>Stored</strong>
    </p>  
  </p-panel>
</div>
<hr>
<div class="panel-wrapper">
  <p-panel [toggleable]="true">
    <ng-template pTemplate="header">
      <div class="header-container" id="Subtest" >
        <h3>{{ panelHeaderReflected }}</h3>
        
      </div>
    </ng-template>
    
    <pre class="code-container"><button pButton type="button" icon="pi pi-copy" (click)="copyContent('.code-container')" class="copy-button"></button><br><hr><code class="language-javascript">{{ codeContent }}</code></pre>
  </p-panel>
</div>

<br>
<hr>

<br>
<div class="panel-wrapper">
  <p-panel [toggleable]="true">
    <ng-template pTemplate="header">
      <div class="header-container">
        <h3>{{ panelHeaderStored }}</h3>
        
      </div>
    </ng-template>
    
    <p>
      XSS (Cross-Site Scripting) Stored es una forma de ataque de seguridad en aplicaciones web donde un atacante puede inyectar scripts maliciosos en una página web o una aplicación web que luego se almacena y se muestra a otros usuarios que visitan esa página.
    </p>
    <p>
      Este ataque sirve para poder conseguir informacion del usuario que visita la pagina, como por ejemplo la cookie de sesion
    </p>
    <h3>Como funciona?</h3>
    <p>
      La idea es encontrar algun input de la pagina que alamcene la informacion en BBDD (por ejemplo un Foro) y nos permita ejecutar etiquetas HTML. En caso de que así sea,
      tendriamos que crear un registro insertando este codigo malicioso.
    </p>
    <p>
      Lo que conseguimos con esto es que cada vez que alguien entre en nuestro post creado en el Foro, se ejecute el script, ya que se intepreta cada vez que alguien entre al estar en BBDD
    </p>
    <hr>
    <div class="panel-wrapper">
      <p-panel [toggleable]="true" >
        <ng-template pTemplate="header">
          <div class="header-container">
            <h3>{{ ejemplo1 }}</h3>
            
          </div>
        </ng-template>
        <div>
          <p>
            Nos encontramos con esta pagina web
          </p>
          <img src="assets/XSS/XSSform.PNG"><br><br>
          <p>
            Cramos un nuevo registro, insertando una etiqueta HTML
          </p>
          <img src="assets/XSS/XSSinput.PNG"><br><br>
          <p>
            Al guardar el registro, observamos como la pagina ha interpretado correctamente la etiqueta HTML
          </p>
          <img src="assets/XSS/XSStest.PNG"><br><br>
          <p>
            Llegados a este punto, podemos probar a insterar una etqiueta script.
          </p>
          <p>
            Al ser un registro que se esta almacenando en base de datos, cada vez que alguien entre a nuestro post, se ejecutara el script
          </p>
          <p>
            Para ello, creamos un registro con la etiqueta
          </p>
          <img src="assets/XSS/XSStag.PNG">
          <p>
            Cuando alguien acceda a nuestro post, vemos como se ejecuta
          </p>
          <img src="assets/XSS/XSSpost.PNG"><br><br>
          <img src="assets/XSS/XSSalert.PNG">
          <pre class="alertTest"><strong>{{codigoXSSalert}}</strong><button pButton type="button" icon="pi pi-copy" (click)="copyContent('.alertTest')" class="copy-button"></button><br><hr><code class="language-javascript">{{ codeContentAlert }}</code></pre>
        </div>
      </p-panel>
    </div>
    <br>
    <div class="panel-wrapper">
      <p-panel [toggleable]="true">
        <ng-template pTemplate="header">
          <div class="header-container">
            <h3>{{ ejemplo2 }}</h3>
            
          </div>
        </ng-template>
        <div >
          <p>
            Para este ejemplo, vamos a crear un script que nos de la informacion de la cookie de sesion del usuario que entre a visitar nuestro post
          </p>
          <p>
            Esta vulnerabilidad ya es muy grave 
          </p>
          <p>
            Vamos a trabajar sobre este formulario.
          </p>
          <img src="assets/XSS/XSSstoredForm.PNG"><br><br>
          <p>
            Primero, vamos a insetar un registro en el blog con una etiqueta html
          </p>
          <img src="assets/XSS/XSSstoredHTML.PNG"><br><br>
          <img src="assets/XSS/XSSstoredH1.PNG"><br><br>
          <p>
            Como podemos ver, se ha almacenado el contenido en la BBDD y se interpreta correctamente
          </p>
          <p>
            Ahora, vamos a ver si conseguimos sacar en un alert la coockie de sesion
          </p>
          <pre class="alertCookie"><strong>{{codigoXSSalert}}</strong><button pButton type="button" icon="pi pi-copy" (click)="copyContent('.alertCookie')" class="copy-button"></button><br><hr><code class="language-javascript">{{ codeContentAlertCookie }}</code></pre>
          <img src="assets/XSS/XSSstoredAlertCookie.PNG"><br><br>
          <p>
            Como vemos a continuacion, en el momento en el que cualquier usuario acceda al blog, le aparecera un pop up mostrandole su cookie de sesion
          </p>
  
          <img src="assets/XSS/XSSstoredCookie.PNG"><br><br>
          <p>
            Como ataque, esto no nos sirve de mucho, porque esto es un pop up que le va a saltar al cliente. La idea ahora es que este contenido nos llegue a nosotros de alguna forma
          </p>
          <p>
            Para ello, vamos a generar un payload en JavaScript que nos haga una peticion por http a un servidor que vamos a tener que estar ejecutando en nuestro equipo mediante python
          </p>
          <pre class="alertCookieScript"><strong>{{codigoXSScookie}}</strong><button pButton type="button" icon="pi pi-copy" (click)="copyContent('.alertCookieScript')" class="copy-button"></button><br><hr><code class="language-javascript">{{ codesendCookie }}</code></pre>
          <p>
            Al crear un post en el blog con este contgenido, cada vez que alguien acceda a nuestro post, se va a hacer una llamada a nuestro servidor donde nos llegaran las cookies de los usuarios que estan accediendo
          </p>
          <img src="assets/XSS/XSSstoredcookieForm.PNG"><br><br>
          <p>
            Despues de enviar el payload, vemos como se crea el post diciendo que es un blog muy bonito, pero por debajo, nos esta llegando la informacion de la cookie del usuario a nuestro servidor
          </p>
          <img src="assets/XSS/XSSstoredCookieSent.PNG"><br><br>
          <p>
            Ahora, vamos a entrar a este post con otro usuario, en este caso con el usuario test
          </p>
          <img src="assets/XSS/XSSstoredTest.PNG"><br><br>
          <p>
            como vemos, nos ha llegado la cookie de sesion del usuario test, ahora podriamos hacer cookie hijacking para hacer login con ese usuario indicando solo la cookie sin necesidad de ingresar credenciales
          </p>
        </div>
      </p-panel>
    </div>

  </p-panel>
</div>

