
<style>
    p {
        font-size: 18px;
    }
    ul.numerada {
    list-style-type: none;
    counter-reset: contador;
    }

    ul.numerada li {
        counter-increment: contador;
    }

    ul.numerada li::before {
        content: counter(contador);
        margin-right: 5px;
        font-weight: bold;
    }


</style>
<p-header>
    <h1>Ataques offline</h1>
</p-header>
<div class="panel-wrapper">
    <p-panel>
        <ng-template pTemplate="header">
            <div class="header-container">
              <h3>John the Ripper</h3>
              
            </div>
          </ng-template>
        <p>
            Con esta herramienta podemos hacer un ataque de diccionario a un fichero con las contraseñas encriptadas para poder descifrarla
        </p>
        <p>
            Tenemos que pasarle a la herramienta el formato del encriptado, la wordlist que queremos utilizar y el fichero que queremos desencriptar
        </p>
        <pre class="john"><strong>{{comando}}</strong><button pButton type="button" icon="pi pi-copy" (click)="copyContent('.john')" class="copy-button"></button><br><hr><code class="language-console">{{ john }}</code></pre>
        <p>
            Podemos utilizar esta herramienta para desecriptar ficheros como por ejemplo el <strong>/etc/shadow</strong>, el fichero de contraseñas del keepas, etc..
        </p>
        <p-panel>
            <ng-template pTemplate="header">
                <div class="header-container">
                  <h4>/etc/shadow</h4>
                  
                </div>
              </ng-template>
            <p>
                Suponiendo que hemos sido capaces de obtener el fichero shadow de la victima, tenemos que realizar los siguientes pasos para obtener la contraseña de este fichero
            </p>
            <ul class="numerada">
                <li>
                    Unir en un solo fichero los ficheros <strong>/etc/passwd</strong> y <strong>/etc/shadow</strong>. Esto nos generará un solo fichero con los usuarios y las contraseñas
                    <pre class="unshadow"><strong>{{comando}}</strong><button pButton type="button" icon="pi pi-copy" (click)="copyContent('.unshadow')" class="copy-button"></button><br><hr><code class="language-console">{{ unshadow }}</code></pre>
                </li>
                <li>
                    una vez tengamos este fichero, tenemos que indicarle a john el diccionario, el tipo de encriptado y el fichero generado para que nos de la contraseña
                    <pre class="decrypt"><strong>{{comando}}</strong><button pButton type="button" icon="pi pi-copy" (click)="copyContent('.decrypt')" class="copy-button"></button><br><hr><code class="language-console">{{ decrypt }}</code></pre>
                    <p>No es necesario indicarle los parametros a John en este orden, podemos pasarle primero el fichero generado y despues el diccionario.</p>
                    <p>por ejemplo <strong>john ficheroGenerado --format=md5crypt-long --wordlist=/usr/share/wordlists/rockyou.txt</strong></p>
                </li>
            </ul>
            <pre class="john"><strong>{{comando}}</strong><button pButton type="button" icon="pi pi-copy" (click)="copyContent('.john')" class="copy-button"></button><br><hr><code class="language-console">{{ john }}</code></pre>
        </p-panel>
    </p-panel>
</div>

