
<style>
    p {
        font-size: 18px;
    }
    ul.numerada {
    list-style-type: none;
    counter-reset: contador;
    }

    ul.numerada li {
        counter-increment: contador;
    }

    ul.numerada li::before {
        content: counter(contador);
        margin-right: 5px;
        font-weight: bold;
    }


</style>
<p-header>
    <h1>Ataques offline</h1>
</p-header>
<div class="panel-wrapper">
    <p-panel [toggleable]="true">
        <ng-template pTemplate="header">
            <div class="header-container">
              <h3>John the Ripper</h3>
              
            </div>
          </ng-template>
        <p>
            Con esta herramienta podemos hacer un ataque de diccionario a un fichero con las contraseñas encriptadas para poder descifrarla
        </p>
        <p>
            Tenemos que pasarle a la herramienta el formato del encriptado, la wordlist que queremos utilizar y el fichero que queremos desencriptar
        </p>
        <pre class="john"><strong>{{comando}}</strong><button pButton type="button" icon="pi pi-copy" (click)="copyContent('.john')" class="copy-button"></button><br><hr><code class="language-console">{{ john }}</code></pre>
        <p>
            Podemos utilizar esta herramienta para desecriptar ficheros como por ejemplo el <strong>/etc/shadow</strong>, el fichero de contraseñas del keepas, etc..
        </p>
        <div class="panel-wrapper">
            <p-panel [toggleable]="true">
                <ng-template pTemplate="header">
                    <div class="header-container">
                      <h4>/etc/shadow</h4>
                      
                    </div>
                  </ng-template>
                <p>
                    Suponiendo que hemos sido capaces de obtener el fichero shadow de la victima, tenemos que realizar los siguientes pasos para obtener la contraseña de este fichero
                </p>
                <ul class="numerada">
                    <li>
                        Unir en un solo fichero los ficheros <strong>/etc/passwd</strong> y <strong>/etc/shadow</strong>. Esto nos generará un solo fichero con los usuarios y las contraseñas
                        <pre class="unshadow"><strong>{{comando}}</strong><button pButton type="button" icon="pi pi-copy" (click)="copyContent('.unshadow')" class="copy-button"></button><br><hr><code class="language-console">{{ unshadow }}</code></pre>
                    </li>
                    <li>
                        una vez tengamos este fichero, tenemos que indicarle a john el diccionario, el tipo de encriptado y el fichero generado para que nos de la contraseña
                        <pre class="decrypt"><strong>{{comando}}</strong><button pButton type="button" icon="pi pi-copy" (click)="copyContent('.decrypt')" class="copy-button"></button><br><hr><code class="language-console">{{ decrypt }}</code></pre>
                        <p>No es necesario indicarle los parametros a John en este orden, podemos pasarle primero el fichero generado y despues el diccionario.</p>
                        <p>por ejemplo <strong>john ficheroGenerado --format=crypt --wordlist=/usr/share/wordlists/rockyou.txt</strong></p>
                    </li>
                </ul>
                <div class="panel-wrapper">
                    <p-panel [toggleable]="true">
                        <ng-template pTemplate="header">
                            <div class="header-container">
                              <h4>Ejemplo</h4>
                            </div>
                          </ng-template>
                        <p>
                            Tenemos los 2 ficheros de la victima en nuestro equipo
                        </p>
                        <img src="assets/passwd/johnFiles.PNG"><br><br>
                        <p>
                            Siguiendo los pasos anteriores, debemos unir estos dos ficheros en uno solo (Paso 1)
                        </p>
                        <img src="assets/passwd/unshadow.PNG"><br><br>
                        <p>
                            Como vemos, se han unido los 2 ficheros, y ahora en la posicion de la contraseña del fichero passwd, aparece la contraseña del shadow
                        </p>
                        <img src="assets/passwd/kaliPass.PNG"><br><br>
                        <p>
                            Ahora, tenemos que llamar a la herramienta john, indicandole este fichero que hemos generado con las contraseñas y con el diccionario que queramos usar (Paso 2)
                        </p>
                        <p>
                            Como diccionario, vamos a utilizar el que se encuentra en <strong>/usr/share/wordlists/john.lst</strong>
                        </p>
                        <img src="assets/passwd/johnDecrypt.PNG"><br><br>
                        <p>
                            Acabamos de conseguir la contraseña del usuario kali
                        </p>
                    </p-panel>
                </div>
            </p-panel>
        </div><br>
        <div class="panel-wrapper">
            <p-panel [toggleable]="true">
                <ng-template pTemplate="header">
                    <div class="header-container">
                      <h4>Zip con contraseña</h4>
                    </div>
                  </ng-template>
                <p>
                    En este caso vamos a realizar el ataque a un zip cifrado con una contraseña
                </p>
                <p>
                    Para ello, vamos a seguir los siguientes pasos
                </p>
                <ul class="numerada">
                    <li>
                        Una vez tenemos el fichero zip al que queremos atacar, tenemos que crear un fichero con el hash de la contraseña que esta utilizando el zip
                        <pre class="zip2john"><strong>{{comando}}</strong><button pButton type="button" icon="pi pi-copy" (click)="copyContent('.zip2john')" class="copy-button"></button><br><hr><code class="language-console">{{ zip2john }}</code></pre>
                    </li>
                    <li>
                        una vez tengamos este fichero, tenemos que indicarle a john el diccionario, el tipo de encriptado y el fichero generado para que nos de la contraseña
                        <pre class="johnZip"><strong>{{comando}}</strong><button pButton type="button" icon="pi pi-copy" (click)="copyContent('.johnZip')" class="copy-button"></button><br><hr><code class="language-console">{{ johnZip }}</code></pre>
                        <p>No es necesario indicarle los parametros a John en este orden, podemos pasarle primero el fichero generado y despues el diccionario.</p>
                        <p>por ejemplo <strong>john ficheroGenerado --format=PKZIP --wordlist=/usr/share/wordlists/rockyou.txt</strong></p>
                    </li>
                </ul>
                <div class="panel-wrapper">
                    <p-panel [toggleable]="true">
                        <ng-template pTemplate="header">
                            <div class="header-container">
                              <h4>Ejemplo</h4>
                            </div>
                        </ng-template>
                        <p>
                            Vamos a generar un zip nosotros mismos para ahcer la prueba. lo haremos sobre el fichero hashes que hemos generado anteriormente. La contraseña que le vamos a dar al zip es <strong>x-men</strong>
                        </p>
                        <img src="assets/passwd/ZipFile.PNG"><br><br>
                        <p>
                            Ahora tenemos que generar el fichero hases (Paso 1)
                        </p>
                        <img src="assets/passwd/GenerarZip.PNG"><br><br>
                        <p>
                            Ahora, tenemos que llamar a la herramienta john, indicandole este fichero que hemos generado con las contraseñas y con el diccionario que queramos usar (Paso 2)
                        </p>
                        <p>
                            Como diccionario, vamos a utilizar el que se encuentra en <strong>/usr/share/wordlists/john.lst</strong>
                        </p>
                        <img src="assets/passwd/johnZip.PNG"><br><br>
                        <p>
                            Acabamos de conseguir la contraseña del zip objetivo
                        </p>
                    </p-panel>
                </div>
            </p-panel>
        </div>
    </p-panel>
</div>

