/* You can add global styles to this file, and also import other style files */
.page-title {
    font-size: 28px;
    font-weight: bold; 
    color: #fff; 
    background-color: #007bff; 
    padding: 10px 20px; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

.p-menubar {
    border: 1px solid green !important;
    border-radius: 20px !important;
    background: #E1ECFF !important;
    font-size: 19px !important;
    
}
.panel-wrapper {
  border-radius: 20px;
  border: 1px solid green;
  overflow: hidden; 
}
.p-menuitem-link:hover {
  background-color: #C4D9FA !important;
  border-radius: 15px !important;
}