<style>
    p {
        font-size: 18px;
    }
    .llamativo {
        color: #595C60; /* Cambia el color del texto a rojo */
        font-size: 48px; /* Cambia el tamaño de la fuente */
        font-weight: bold; /* Hace que el texto sea más audaz */
        /* Puedes agregar más estilos según tus preferencias */
    }
    .divTitle {
        border: 2px solid #73AD21;
        padding: 10px; /* Puedes ajustar el relleno según tus preferencias */
        display: inline-block;
        border-radius: 30px;
    }
    .container {
        text-align: center; /* Centra el contenido horizontalmente */
    }
</style>

<div class="container">
    <div class="divTitle">
        <h1 class="llamativo">CyberSecNotes</h1>
    </div>
</div>

<hr>
<br>
<div class="panel-wrapper">
    <p-panel  [toggleable]="true">
      <p>
        LFI (Local File Inclusion) es una vulnerabilidad de seguridad que ocurre cuando una aplicación web permite a un atacante incluir archivos locales del servidor en el contenido de una página web. 
        Esto puede permitir al atacante leer archivos sensibles del servidor que normalmente no estarían accesibles a través de la interfaz web. 
      </p>  
      <p>
        La vulnerabilidad de LFI generalmente ocurre cuando una aplicación web utiliza la entrada del usuario para incluir archivos locales sin la debida validación o filtrado. 
        Esto puede suceder en varios contextos, como la inclusión de archivos de plantillas, la carga de archivos de configuración o la inclusión de archivos de registro.
      </p>  
      <p>
        Un ataque de LFI puede ser especialmente peligroso si el servidor web ejecuta el software con privilegios elevados o si los archivos sensibles, como contraseñas o información confidencial, 
        están accesibles a través de la inclusión local de archivos.
      </p>  
      <p>
        LFI (Local File Inclusion) es una vulnerabilidad de seguridad que ocurre cuando una aplicación web permite a un atacante incluir archivos locales del servidor en el contenido de una página web. 
        Esto puede permitir al atacante leer archivos sensibles del servidor que normalmente no estarían accesibles a través de la interfaz web. 
      </p>  
      <p>
        La vulnerabilidad de LFI generalmente ocurre cuando una aplicación web utiliza la entrada del usuario para incluir archivos locales sin la debida validación o filtrado. 
        Esto puede suceder en varios contextos, como la inclusión de archivos de plantillas, la carga de archivos de configuración o la inclusión de archivos de registro.
      </p>  
      <p>
        Un ataque de LFI puede ser especialmente peligroso si el servidor web ejecuta el software con privilegios elevados o si los archivos sensibles, como contraseñas o información confidencial, 
        están accesibles a través de la inclusión local de archivos.
      </p>  
      <p>
        LFI (Local File Inclusion) es una vulnerabilidad de seguridad que ocurre cuando una aplicación web permite a un atacante incluir archivos locales del servidor en el contenido de una página web. 
        Esto puede permitir al atacante leer archivos sensibles del servidor que normalmente no estarían accesibles a través de la interfaz web. 
      </p>  
      <p>
        La vulnerabilidad de LFI generalmente ocurre cuando una aplicación web utiliza la entrada del usuario para incluir archivos locales sin la debida validación o filtrado. 
        Esto puede suceder en varios contextos, como la inclusión de archivos de plantillas, la carga de archivos de configuración o la inclusión de archivos de registro.
      </p>  
      <p>
        Un ataque de LFI puede ser especialmente peligroso si el servidor web ejecuta el software con privilegios elevados o si los archivos sensibles, como contraseñas o información confidencial, 
        están accesibles a través de la inclusión local de archivos.
      </p>  
      <p>
        LFI (Local File Inclusion) es una vulnerabilidad de seguridad que ocurre cuando una aplicación web permite a un atacante incluir archivos locales del servidor en el contenido de una página web. 
        Esto puede permitir al atacante leer archivos sensibles del servidor que normalmente no estarían accesibles a través de la interfaz web. 
      </p>  
      <p>
        La vulnerabilidad de LFI generalmente ocurre cuando una aplicación web utiliza la entrada del usuario para incluir archivos locales sin la debida validación o filtrado. 
        Esto puede suceder en varios contextos, como la inclusión de archivos de plantillas, la carga de archivos de configuración o la inclusión de archivos de registro.
      </p>  
      <p>
        Un ataque de LFI puede ser especialmente peligroso si el servidor web ejecuta el software con privilegios elevados o si los archivos sensibles, como contraseñas o información confidencial, 
        están accesibles a través de la inclusión local de archivos.
      </p>  

    </p-panel>
</div>