
<br>
<div class="grid p-fluid">
    <div class="col-12">
        <div class="card card-w-title">
            <p-menubar [model]="tieredItems" styleClass="custom-menu">
                <ng-template pTemplate="end">
                    <span class="p-input-icon-right">
                        <input type="text" pInputText placeholder="Search">
                        <i class="pi pi-search"></i>
                    </span>
                </ng-template>
            </p-menubar>
        </div>
    </div>
</div>

