
<style>
    p {
        font-size: 18px;
    }
    ul.numerada {
    list-style-type: none;
    counter-reset: contador;
    }

    ul.numerada li {
        counter-increment: contador;
    }

    ul.numerada li::before {
        content: counter(contador);
        margin-right: 5px;
        font-weight: bold;
    }
    .tabla-custom {
    border: 5px solid #ccc;
    }
</style>
<p-header>
    <h1>Escaneo</h1>
</p-header>
<div class="panel-wrapper">
    <p-panel>
        <ng-template pTemplate="header">
            <div class="header-container">
              <h3>nmap</h3>
              
            </div>
        </ng-template>
        <p>
            Nmap es una herramienta de escaneo de redes que detecta dispositivos, puertos abiertos y servicios en una red. 
            Se utiliza para mapear redes, identificar vulnerabilidades y evaluar la seguridad de sistemas informáticos. 
            Es esencial para administradores de red y expertos en seguridad.
        </p>
        <p>
            En conclusión, gracias a nmap vamos a poder identificar servicios de la maquina victima, ademas de las versiones de estos servicios, los puertos, etc..
        </p>
      
        <h4>Para que queremos esto?</h4>
        
        <p>
            Gracias a esta primera informacion, vamos a ser capaces de saber cual va a ser nuestro vector de entrada.
        </p>
        <p>
            Si encontramos un servicio web, sabemos que podemos buscar en esa pagina para llegar hasta el servidor, si tiene un servicio expuesto con una version vulnerable, vamos a ser capaces de epxlotar esa vulnerabilidad y ganar accerso al servidor, etc..
        </p>
        <p>
            Esta es la estructura basica del comando
        </p>
        <pre class="nmap"><strong>{{comando}}</strong><button pButton type="button" icon="pi pi-copy" (click)="copyContent('.nmap')" class="copy-button"></button><br><hr><code class="language-console">{{ nmap }}</code></pre>
        <p>
            Nmap es una herramienta con un monton de opciones, a continuacion vamos a ver una lista con una pequeña descripción
        </p>

        <div class="panel-wrapper">
            <p-panel [toggleable]="true">
                <ng-template pTemplate="header">
                    <div class="header-container">
                      <h4>Opciones de nmap</h4>
                    </div>
                </ng-template>
                <h4>Opciones para Host Discovery</h4>
                <div class="col-12">
                    <div class="card" >
                        <p-table #dt1 [value]="tablaHostDiscovery" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="p-datatable-striped" [tableStyle]="{'background-color': 'lightblue'}" responsiveLayout="scroll" [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width:33%">Opcion</th>
                                    <th style="width:33%">Nombre</th>
                                    <th style="width:33%">Descripcion</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-data let-i="rowIndex">
                                <tr>
                                    <td style="width:33%">{{data.opcion}}</td>
                                    <td style="width:33%">{{data.nombre}}</td>
                                    <td style="width:33%">{{data.descripcion}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div><br>
                <h4>Opciones para tecnicas de escaneo</h4>
                <div class="col-12">
                    <div class="card" >
                        <p-table #dt1 [value]="tablaScan" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="p-datatable-striped" [tableStyle]="{'background-color': 'lightblue'}" responsiveLayout="scroll" [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width:33%">Opcion</th>
                                    <th style="width:33%">Nombre</th>
                                    <th style="width:33%">Descripcion</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-data let-i="rowIndex">
                                <tr>
                                    <td style="width:33%">{{data.opcion}}</td>
                                    <td style="width:33%">{{data.nombre}}</td>
                                    <td style="width:33%">{{data.descripcion}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div><br>
                <h4>Opciones para seleccion de puertos</h4>
                <div class="col-12">
                    <div class="card" >
                        <p-table #dt1 [value]="tablaPuertos" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="p-datatable-striped" [tableStyle]="{'background-color': 'lightblue'}" responsiveLayout="scroll" [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width:33%">Opcion</th>
                                    <th style="width:33%">Nombre</th>
                                    <th style="width:33%">Descripcion</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-data let-i="rowIndex">
                                <tr>
                                    <td style="width:33%">{{data.opcion}}</td>
                                    <td style="width:33%">{{data.nombre}}</td>
                                    <td style="width:33%">{{data.descripcion}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
                <br>
                <h4>Opciones para Outputs</h4>
                <div class="col-12">
                    <div class="card" >
                        <p-table #dt1 [value]="tablaOutputs" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="p-datatable-striped" [tableStyle]="{'background-color': 'lightblue'}" responsiveLayout="scroll" [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width:33%">Opcion</th>
                                    <th style="width:33%">Nombre</th>
                                    <th style="width:33%">Descripcion</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-data let-i="rowIndex">
                                <tr>
                                    <td style="width:33%">{{data.opcion}}</td>
                                    <td style="width:33%">{{data.nombre}}</td>
                                    <td style="width:33%">{{data.descripcion}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
                <br>
            </p-panel>
        </div><br>
        <p>
            Despues de haber visto algunas de las opciones dispoinibles, como hay mucha informacion, vamos a ver algun ejemplo
        </p>
        <p>
            Aunque antes de enseñar los ejemplos, me gustaria comentar que, aunque hayan muchisimas opciones, <strong>normalmente</strong> utilizo siempre las mismas opciones
            para los escaneos que hago
        </p>
        <p>
            Personalmente yo hago dos escaneos de nmap. 
        </p>
        <p>
            Uno para ver los servicios y puertos, y otro para ver las versiones de los servicios 
        </p>
        <p>
            <strong>Primer comando</strong>
        </p>
        <pre class="nmapPorts"><strong>{{comando}}</strong><button pButton type="button" icon="pi pi-copy" (click)="copyContent('.nmapPorts')" class="copy-button"></button><br><hr><code class="language-console">{{ nmapPorts }}</code></pre>
        <p>
            Con este primer comando, estamos buscando en todos los puertos que hay (-p-)
        </p>
        <p>
            Le estamos indicando que nos reporte unicamente los puertos que esten abiertos (--open)
        </p>
        <p>
            Le estamos indicando que mande como minimo 5000 paquetes por segundo (Esto hace que sea muy rapido) (--min-rate 5000)
        </p>
        <p>
            Le estamos indicando que haga un SYN Scan (-sS)
        </p>
        <p>
            Le estamos indicando que no haga resolucion DNS (-n)
        </p>
        <p>
            Le estamos indicando que no haga host discovery (-Pn)
        </p>
        <p>
            Le estamos indicando un triple verbose para que reporte mucha informacion en la pantalla (-vvv)
        </p>
        <p> 
           Y finalmente le estamos indicando que me guarde los resultados en un fichero llamado openPorts(-oN openPorts)
        </p>
        <p>
            Con toda esta informacion, veremos todos los puertos abiertos de la maquina objetivo
         </p>
         <img src="assets/nmap/scan.PNG" style="width: 90%;"><br><br>
         <p>
            Como vemos, en la parte izquierda nos ha reportado los puertos abiertos de la maquina objetivo (en este caso tiene un monton), y en la parte derecha vemos como se nos ha generado el fichero
         </p>
         <p>
            El fichero generado va a tener exatamente la misma estructura que la salida del comando al haber utilizado -oN (formato nmap)
         </p>
        <p>
            <strong>Segundo comando</strong>
        </p>
        <pre class="nmapServices"><strong>{{comando}}</strong><button pButton type="button" icon="pi pi-copy" (click)="copyContent('.nmapServices')" class="copy-button"></button><br><hr><code class="language-console">{{ nmapServices }}</code></pre>
        <p>
            Ahora al haber encontrado los puerots abiertos, enviamos unos scripts de reconocimiento (-sC)
        </p>
        <p>
            Y buscamos la version de los servicios expuertos (-sV)
        </p>
        <p>
            <strong>Nota</strong>: al tener las dos opciones <strong>-sC</strong> y <strong>-sV</strong>, podemos agruparlo como <strong>-sCV</strong>
        </p>
        <p>
            Ademas tambien guardamos la salida, igual que en el primer comando
        </p>
        <p>
            Para este ejemplo, lo vamos a hacer para los puertos 21,22 y 80
        </p>
        <img src="assets/nmap/services.PNG" style="width: 90%;"><br><br>
        
        <h4>Que informacion he sacado de este escaneo?</h4>
        <p>
            Primero, ahora sabemos que puertos tiene abiertos el objetivo, por lo que podemos intentar encontrar vectores de ataque gracias a los servicios
        </p>
        <p>
            Despues, haciendo un escaneo mas en profundidad de algunos de los puertos, hemos podido ver que la version del servicio FTP es vsftpd 2.3.4
        </p>
        <p>
            Esta version es vulnerable y podemos ganar acceso a la maquina a traves de este servicio, aunque eso lo veremos en la fase de explotacion :)
        </p>
    </p-panel>
</div>

